<header class="flex border-t border-b border-ui-g5 border-solid h-16 bg-primary-w justify-between flex-row header">
    <div class="flex">
        <div class="flex flex-col justify-center items-center py-2.5 px-3.5 border-r border-ui-g5 border-solid max-w-[120px] w-screen">
            <div class="text-ui-g4 input2">ZLECENIA</div>
            <div class="text-ui-g1 body2">245</div>
        </div>
        <div class="flex flex-col  justify-center items-center py-2.5 px-3.5 border-r border-ui-g5 border-solid  max-w-[120px] w-screen">
            <div class="text-ui-g4 input2">DEPOZYTY</div>
            <div class="text-ui-g1 body2">245</div>
        </div>
        <div class="flex flex-col  justify-center items-center py-2.5 px-3.5 border-r border-ui-g5 border-solid max-w-[120px] w-screen">
            <div class="text-ui-g4 input2">ZAMÓWIENIA</div>
            <div class="text-ui-g1 body2">245</div>
        </div>
    </div>
    <div class="flex">
        <div class="border-l border-ui-g5 border-solid w-16 h-16 flex justify-center items-center">
            <img src="../../../assets/icons/bellcounter-40.svg" alt="Bell icon">
        </div>
        <div class="flex justify-center items-center border-l border-ui-g5 border-solid  px-5 py-3">
            <img src="../../../assets/icons/avatar.svg" alt="Avatar">
            <span class="input1 pl-4 pr-2 text-ui-g3">Warsztat A12</span>
            <img src="../../../assets/icons/triangle-down.svg" alt="Open button">
        </div>
    </div>
</header>