<section class="py-6 px-6 bg-ui-g7">
  <div class="flex flex-row justify-between items-center mb-6">
    <div>
      <p class="ui-g3 body3">User / User Edit</p>
      <h2 class="text-supporting-7">Hugh Jackman</h2>
    </div>
    <div class="flex flex-row gap-6">
      <app-button color="signal-error" text="delete"></app-button>
      <app-button
        color="primary-y"
        text="block"
        (buttonClickEvent)="openModal()"></app-button>
      <app-button color="primary-bg" text="Set password"></app-button>
      <app-button text="save" (buttonClickEvent)="onFormSubmit()"></app-button>
    </div>
  </div>
  <form
    class="flex flex-row gap-4 justify-between"
    (ngSubmit)="onFormSubmit()"
    [formGroup]="userDataForm">
    <app-roles-section
      class="basis-1/2"
      [permissionItems]="permissionItems"
      [form]="permissionsGroup"></app-roles-section>
    <app-form-section
      class="basis-1/2"
      [form]="userInfoGroup"></app-form-section>
  </form>
</section>

<app-modal>
  <div main class="pb-10 gap-4 flex items-center flex-col">
    <img
      class="text-[40px]"
      src="../../../../../../assets/icons/error-60.svg"
      alt="Error icon" />
    <h2>Block content</h2>
    <p class="body2 text-center">Are you sure?</p>
  </div>
  <div footer class="gap-7 flex justify-center">
    <app-button text="Yes" (click)="onConfirmClick()"></app-button>
    <app-button
      color="primary-bg"
      text="No"
      (click)="onCancelClick()"></app-button>
  </div>
</app-modal>
