$nav-padding: 32px;

.app-layout {
    display: grid;
    grid-template-areas:
      "aside header"
      "aside main  "
      "aside main  ";
    height: 100vh;
    grid-template-columns: minmax(calc($nav-padding * 2), min-content) auto;
    grid-template-rows: 62px auto;
    font-family: Arial, Helvetica, sans-serif; // todo: replace with rubik
  
    &.nav-open {
      grid-template-columns: 276px auto;
    }

    // &:not(.nav-open) {
    //   .nav-item {
    //     &__label,
    //     &__subitems {
    //       display: none;
    //     }
    //   }
    //   & .sidebar__date {
    //     align-items: center;
    //     grid-column: 1/-1;
    //   }
    // }
}

.main {
    grid-area: main;
  }