$nav-padding: 32px;

.app-layout {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main  '
    'aside main  ';
  height: 100vh;
  grid-template-columns: minmax(calc($nav-padding * 2), min-content) auto;
  grid-template-rows: 62px auto;

  &.nav-open {
    grid-template-columns: 276px auto;
  }
}

.main {
  grid-area: main;
}
