:root {
  --primary-b: #5e92fc;
  --primary-bg: #6e7c98;
  --primary-y: #fabb2b;
  --primary-w: #fff;
  --supporting-3: #d92f2a;
  --supporting-6: #00a1a1;
  --supporting-7: #325395;
  --secondary-b-lighten20: #7ea8fd;
  --secondary-bg-lighten90: #f0f2f5;
  --signal-error: #e5322c;
  --ui-g1: #262729;
  --ui-g2: #3d3f42;
  --ui-g3: #6e7075;
  --ui-g4: #9ea1a8;
  --ui-g5: #dbdde0;
  --ui-g6: #f3f4f5;
  --ui-g7: #fbfbfb;
}
