:root {
    --primary-b: #5E92FC;
    --primary-bg: #6E7C98;
    --primary-y: #FABB2B;
    --primary-w: #fff;
    --supporting-3:#D92F2A;
    --supporting-6:#00A1A1;
    --supporting-7:#325395;
    --secondary-b-lighten20:#7EA8FD;
    --secondary-bg-lighten90:#F0F2F5;
    --signal-error: #E5322C;
    --ui-g1:#262729;
    --ui-g2:#3D3F42;
    --ui-g3: #6E7075;
    --ui-g4: #9EA1A8;
    --ui-g5: #DBDDE0;
    --ui-g6: #F3F4F5;
    --ui-g7:#FBFBFB;
    --blue: #5E92FC;


  }